
.navbar-scrolled {
    background-color:#0f6456;
   
    transition: ease-in-out 0.5s;
    
}

.navbar-scrolled .navbar-nav .nav-link {
    color: white !important;
    transition: ease-in-out 0.5s;

}

.navbar {
    overflow-x: hidden;
}


/* *{
    border: red 1px solid;
} */
.reveal {
    position: relative;
    transform: translateY(10vmin);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}



.imgsertif {
    max-width: 100%;
}

.imgsertif img{
    max-width: 100%;
}


.title {
    color: #0f6456;
    font-weight: bold;
}

.heading {
    color: #660100;
}



.footer {
    max-width: 100%;
    margin: 0% ;
    padding: 0% ;
    background-color: #0F6456;
    overflow: hidden;
}


.footer img{
    max-width: 100%;
}

.footerpad {
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
}
